spring:
  datasource:
    url: jdbc:mysql://localhost:3306/job_portal_db
    username: root
    password: Sreemouna

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
